html{
	/* root element, la racine du document 
	/* Ré-équilibrage de la valeur du Rem */
	/* on récupere le font-size du navigateur (16px) */
	font-size: 100%;
}

body {
	/* body occupe tout l'espace de l'écran */
	padding: 0;
	margin: 0;

	background-color: #000;
}

#container{
	width: 100%;
	height: 100%;
	background-color: #fff;
}

#calculator-grid{
	display: grid;
	max-width: 500px;
	justify-content: center;
	align-content: center;
	/* 4 colonnes de 100px */
	grid-template-columns: repeat(4,100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
	min-height: 100%;
	background-color: grey;
	margin: 0 auto;
}

/* selectionner tous les boutons */
#calculator-grid > button{
	cursor: pointer;
	font-size: 25px;
	border: 1px solid blue;
	/* la couleur blanche avec 75% d'opacité */
	background-color: rgba(255, 255, 255, 0.50);
}

/*lorsque la souris passe sur les boutons*/
#calculator-grid > button:hover{
	/* la couleur blanche avec 90% d'opacité */
	background-color: rgba(255, 255, 255, 0.90);
}

.span-two{
	grid-column: span 2;
}

.output{
/* cet item commence de colonne 1 
et termine à la derniere colonne */
	grid-column: 1 / -1;

	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	/* aligner verticalement*/
	align-items: flex-end;
	/* aligner horizontalement*/
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previous-operand{
	color: rgba(255, 255, 255, 0.75);
	/* rem est proportionnel 
	à la taille de la racine du document html */
	font-size: 1.5rem; /* 24 px*/
}

.output .current-operand{
	color: rgba(255, 255, 255, 0.99);
	/* rem est proportionnel 
	à la taille de la racine du document html */
	font-size: 2.5rem; /* 40 px*/
}


